<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style> 

  #img.bg {
           /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;
            
            /* Set up proportionate scaling */
            width: 100%;
            height: auto;
            
            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;
            z-index: -2;
            
             }


</style>


<body background="static/pale.jpeg">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Taste pal </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="homepage.html">Home</a></li>
      <li><a href="{{url_for('aboutme')}}">About me</a></li>
      <li><a href="{{url_for('recipes')}}">recipes</a></li>
      <li><a href="{{url_for('history')}}">history</a></li>
      <li><a href="{{url_for('addrecipe')}}">add recipe </a></li>
         <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url_for('newTaster')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<h2> Welcome to TASTEPAL </h2>
<br><p>  let's start TASTINNNNNGGGGG!!</p><br>
<p> in this website you will meet our culture, The palestinian culture, learn new recipes and add your own recipes! </p>
    </ul>
  </div>
</nav>


</body>
</html>
